.idea
node_modules

bower_components/requirejs/*
!bower_components/requirejs/require.js

bower_components/vis/*
!bower_components/vis/dist

bower_components/y-map/*
!bower_components/y-map/y-map.js

bower_components/y-memory/*
!bower_components/y-memory/y-memory.js

bower_components/y-websockets-client/*
!bower_components/y-websockets-client/y-websockets-client.js


bower_components/yjs/*
!bower_components/yjs/y.js